<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card card-profile">
						<!-- <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img" [src]="obj.imagem" />
                </a>
              </div> -->
						<div class="card-body">
							<h6 class="card-category text-gray">Curso / {{obj.curso.nome}}</h6>
							<h3 class="card-title">Turma / {{obj.nome}}</h3>
							<h6 class="card-title">Turno / {{obj.turno_txt}}</h6>
							<p class="card-description">
								{{obj.descricao}}
							</p>
							<p class="card-description" style="width: 1000px;">
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-profile">
					<div class="card-head">
						<h2>Novo participante</h2>
					</div>
					<div class="card-body">
						<app-erros [erros]="errosForm"></app-erros>
						<form [formGroup]="form">
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<select matInput placeholder="Participante" class="form-control" formControlName="users_id">
											<option value="">Selecione...</option>
                                            <option *ngFor="let part of participantes" value="{{part.id}}">{{part.text}}</option>
                                        </select>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
                                        <select matInput placeholder="Tipo de participante" class="form-control" formControlName="tipo">
											<option value="">Selecione...</option>
                                            <option value="1">Aluno</option>
                                            <option value="2">Professor</option>
                                        </select>
                                    </mat-form-field>
								</div>
							</div>
							<button (click)="save()" mat-raised-button type="submit"
								class="btn btn-danger pull-right">Vincular</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead class=" text-primary">
									<th>
										ID
									</th>
									<th>
										Participante
									</th>
									<th>
										Tipo
									</th>
									<th>
										Perfil
									</th>
								</thead>
								<tbody>
									<tr *ngFor="let obj of data">
										<td>
											{{obj.participante.id}}
										</td>
										<td>
											{{obj.participante.nome}}
										</td>
										<td>
											{{obj.tipo_txt}}
										</td>
										<td class="text-primary link" (click)="open(obj.participante)">
											Abrir
										</td>
									</tr>
								</tbody>
							</table>
							<a *ngIf="prev" href="#" (click)="getPrev()" class="previous">&laquo; Anterior</a>
							<a *ngIf="next" href="#" (click)="getNext()" class="next">Próximo &raquo;</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>