<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card card-profile">
						<!-- <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img" [src]="obj.imagem" />
                </a>
              </div> -->
						<div class="card-body">

							<h4 class="card-title">{{obj.nome}}</h4>
							<p class="card-description">
								{{obj.descricao}}
							</p>
							<p class="card-description" style="width: 1000px;">
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-profile">
					<div class="card-head">
						<h2>Vincular aula</h2>
					</div>
					<div class="card-body">
						<app-erros [erros]="errosForm"></app-erros>
						<form [formGroup]="form">
							<div class="row">
								<div class="col-md-12">
									<mat-form-field class="example-full-width">
										<select matInput placeholder="Aulas" class="form-control" formControlName="aulas_id">
											<option value="">Selecione...</option>
                                            <option *ngFor="let aula of aulas" value="{{aula.id}}">{{aula.text}}</option>
                                        </select>
									</mat-form-field>
								</div>
							</div>
							<button (click)="save()" mat-raised-button type="submit"
								class="btn btn-danger pull-right">Vincular</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead class=" text-primary">
									<th>
										ID
									</th>
									<th>
										Nome
									</th>
									<th>
										Aula
									</th>
								</thead>
								<tbody>
									<tr *ngFor="let obj of data">
										<td>
											{{obj.aula.id}}
										</td>
										<td>
											{{obj.aula.nome}}
										</td>
										<td class="text-primary link" (click)="open(obj.aula)">
											Abrir
										</td>
									</tr>
								</tbody>
							</table>
							<a *ngIf="prev" href="#" (click)="getPrev()" class="previous">&laquo; Anterior</a>
							<a *ngIf="next" href="#" (click)="getNext()" class="next">Próximo &raquo;</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>