<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-md-4" >
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:void(0)">
                <img class="img" [src]="usuario.imagem" />
              </a>
            </div>
            <div class="card-body">
              
              <h4 class="card-title">{{usuario.nome_completo}}</h4>
              <p class="card-category text-gray">{{usuario.email}}</p>
              <p class="card-description">
                CPF/CNPJ: {{usuario.cpfcnpj | cpfcnpj }}
              </p>
              <p class="card-description" style="width: 1000px;">
                <!-- Don't be scared of the truth because we need to restart the
                human foundation in truth And I love you like Kanye loves Kanye
                I love Rick Owens’ bed design but the back is... -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>