<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card card-profile">
						<!-- <div class="card-avatar">
							<a href="javascript:void(0)">
							<img class="img" [src]="obj.imagem" />
							</a>
						</div> -->
						<div class="card-body">

							<h4 class="card-title">{{obj.nome}}</h4>
							<p class="card-description">
								{{obj.descricao}}
							</p>
							<p class="card-description" style="width: 1000px;">
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>