<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-profile">
                    <div class="card-body">
                        <app-erros [erros]="errosForm"></app-erros>
                        <form  [formGroup]="form">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mat-form-field example-full-width">
                                      <input matInput placeholder="Nome" class="form-control" formControlName="nome">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mat-form-field example-full-width">
                                        <select matInput placeholder="Turno" class="form-control" formControlName="turno">
                                            <option value="">Selecione o turno...</option>
                                            <option value="1">Manhã</option>
                                            <option value="2">Tarde</option>
                                            <option value="3">Noite</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
									<div class="mat-form-field example-full-width">

                                        
                                        <select matInput placeholder="Selecione o Curso" class="form-control" formControlName="cursos_id">
                                            <option value="">Selecione o curso...</option>
                                            <option *ngFor="let curso of cursos" value="{{curso.id}}">{{curso.text}}</option>
                                        </select>

									</div>
								</div>
                            </div>
                          
                            <button (click)="save()" mat-raised-button type="submit" class="btn btn-danger pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Turno
                                    </th>
                                    <th>
                                        Curso
                                    </th>
                                    <th>
                                        Abrir
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let obj of data">
                                        <td>
                                            {{obj.id}}
                                        </td>
                                        <td>
                                            {{obj.nome}}
                                        </td>
                                        <td>
                                            {{obj.turno_txt}}
                                        </td>
                                        <td>
                                            {{obj.curso.nome}}
                                        </td>
                                        <td class="text-primary link" (click)="open(obj)">
                                            Abrir
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a *ngIf="prev" href="#" (click)="getPrev()" class="previous">&laquo; Anterior</a>
                            <a *ngIf="next" href="#" (click)="getNext()" class="next">Próximo &raquo;</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  